* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 32px;
}

.sector-information {
  color: #437EF7;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  margin-bottom: 32px;
}

.general-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #272D37;
  text-align: center;
  padding-bottom: 16px;
}

.subtitle {
  text-align: center;
  padding-inline: 16px;
  padding-bottom: 72px;
}

.message-title {
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  padding-bottom: 32px;
}

.grid-container-1 {
  display: grid;

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    margin-inline: 18px;
    margin-bottom: 40px;

    img {
      margin-bottom: 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -2%;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 16px;
      color: #5F6D7E;
      line-height: 24px;
      letter-spacing: -0.1px;
      margin-bottom: 16px;
    }

    a {
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      color: #437EF7;
      display: flex;
    }

    .icons-right {
      margin-left: 6px;
    }
  }
}

.branding-proposal {
  padding-bottom: 32px;

  .branding-title {
    font-size: 28px;
    color: #272D37;
    padding-inline: 16px;
    line-height: 36px;
    padding-bottom: 24px;
  }

  .branding-items {
    padding-bottom: 32px;

    .branding-item-1,
    .branding-item-2,
    .branding-item-3 {
      display: flex;
      padding-inline: 16px;

      img {
        padding-right: 3px;
      }

      h4 {
        color: #5F6D7E;
      }
    }
  }

  a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: #437EF7;
    margin-left: 16px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;

    display: inline-flex;
    align-items: center;
  }

  .icon-right-white {
    padding-left: 6px;
  }
}

.write-and-photo {
  position: relative;
  display: inline-block;
  margin-bottom: 72px;
}

.write-and-photo img {
  display: block;
  max-width: 100%;
}

.write-and-photo h4,
.write-and-photo a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.write-and-photo h4 {
  font-size: 20px;
  top: 45%;
  text-align: center;
  background: #fff;
  padding: 10px 110px;
  border-radius: 8px;
  margin: 0;
}

.write-and-photo a {
  top: 55%;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 26px;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.desktop-computer {
  width: 343px;
  height: 343px;
  display: block;
  margin: 0 auto;
}

.team-write {
  text-align: center;
  margin-inline: 32px;
}