* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 32px;
}

.sector-information {
  color: #437EF7;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  padding-bottom: 32px;
}

.general-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #272D37;
  text-align: center;
  padding-bottom: 16px;
}

.subtitle {
  text-align: center;
  padding-inline: 16px;
  padding-bottom: 72px;
}

.message-title {
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  padding-bottom: 32px;
}

.grid-container-1 {
  display: grid;

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    margin-inline: 18px;
    margin-bottom: 40px;

    img {
      margin-bottom: 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -2%;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 16px;
      color: #5F6D7E;
      line-height: 24px;
      letter-spacing: -0.1px;
      margin-bottom: 16px;
    }

    a {
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      color: #437EF7;
      display: flex;
    }

    .icons-right {
      margin-left: 6px;
    }
  }
}

.branding-proposal {
  padding-bottom: 32px;

  .branding-title {
    font-size: 28px;
    color: #272D37;
    padding-inline: 16px;
    line-height: 36px;
    padding-bottom: 24px;
  }

  .branding-items {
    padding-bottom: 32px;

    .branding-item-1,
    .branding-item-2,
    .branding-item-3 {
      display: flex;
      padding-inline: 16px;

      img {
        padding-right: 3px;
      }

      h4 {
        color: #5F6D7E;
      }
    }
  }

  a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: #437EF7;
    margin-left: 16px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;

    display: inline-flex;
    align-items: center;
  }

  .icon-right-white {
    padding-left: 6px;
  }
}

.write-and-photo {
  position: relative;
  display: inline-block;
  margin-bottom: 72px;
}

.write-and-photo img {
  display: block;
  max-width: 100%;
}

.write-and-photo h4,
.write-and-photo a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.write-and-photo h4 {
  font-size: 20px;
  top: 45%;
  text-align: center;
  background: #fff;
  padding: 10px 110px;
  border-radius: 8px;
  margin: 0;
}

.write-and-photo a {
  top: 55%;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 26px;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.desktop-computer {
  width: 343px;
  height: 343px;
  display: block;
  margin: 0 auto;
}

.team-write {
  text-align: center;
  margin-inline: 32px;
  margin-bottom: 32px;

  h2 {
    color: #272D37;
    font-weight: 700;
    line-height: 32px;
  }

  h4 {
    color: #5F6D7E;
    line-height: 24px
  }
}

.team-members {
  margin-bottom: 80px;
}

.team-member {
  margin-bottom: 32px;
}

.team-member-photo {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.team-member-informations {
  margin-inline: 32px;
  margin-bottom: 12px;
}

.team-member-informations h4 {
  font-size: 20px;
  color: #272D37;
  font-weight: 700;
  line-height: 28px;
}

.social-media {
  margin-left: 32px;
}

.social-media img {
  margin-right: 16px;
}

.frequently-asked-questions {
  text-align: center;
  margin-inline: 16px;
  margin-bottom: 32px;

  .title {
    color: #272D37;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .text {
    color: #5F6D7E;
    line-height: 24px;
  }
}

.questions {
  margin-bottom: 120px;

  .question {
    color: #272D37;
    line-height: 24px;
    padding: 16px 32px;
  }
}

.sector-information-2 {
  background-color: #2B63D9;
}

.sector-information-2 h5 {
  font-size: 14px;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  padding-top: 32px;
  padding-bottom: 8px;
}

.sector-information-2 h2 {
  font-size: 28px;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
  padding-bottom: 16px;
}

.signup-and-login-buttons {
  display: flex;
  flex-direction: column;
}

.signup-and-login-buttons a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
  margin-inline: 16px;
  border-radius: 5px;
  padding: 12px 130px;
}

.signup {
  color: #437EF7;
  background-color: white;
  border-bottom: 5px;
  margin-bottom: 16px;
}

.login {
  color: white;
  background-color: #437EF7;
  margin-bottom: 32px;
}

.logos {
  background-color: #2B63D9;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  place-items: center;
  padding-bottom: 32px;
}

.footer img {
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.footer h4 {
  color: #5F6D7E;
  line-height: 24px;
  margin-inline: 16px;
  margin-bottom: 24px;
}

.footer-logos {
  margin-bottom: 24px;
}

.footer-logos img {
  padding: 0 20px;
  margin-bottom: 16px;
}

strong {
  color: black;
}

.company-detail a {
  text-decoration: none;
}

.company-detail a:active {
  color: #5F6D7E;
}

.company-detail a:visited {
  color: #5F6D7E;
}

.company-detail a:hover {
  color: #5F6D7E;
}

.company-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-icon {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 20px;
}

.all-right-reserved {
  color: #5F6D7E;
  line-height: 24px;
  margin-bottom: 32px;
}

@media (width > 767px) {
  .sector-information {
    margin-top: 68px;
  }

  .general-title,
  .subtitle {
    margin-inline: 48px;
  }

  .subtitle {
    margin-bottom: 88px;
  }

  .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sector-information-2 {
    padding-bottom: 80px;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
}